# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules

# Production build
build
dist

# Environment variables
.env

# Editor files
.vscode
*.swp
*.swo
*.sublime-*

# Mac files
.DS_Store
.AppleDouble
.LSOverride

# Debug files
debug.log

